<div class="row">
  <div class="pure-u-1-2">
    <span class="label label-primary">Single item</span>
    {{select-picker customClass="pure-u-1" content=data selection=selection prompt='Single Item'}}
  </div>

  <div class="pure-u-1-2">
    <span class="label label-primary">Multi-items</span>
    {{select-picker customClass="pure-u-1" content=data selection=mutilSelection prompt='Multi-Items' isMultiple=true}}
  </div>
</div>
